<ion-header>
  <ion-toolbar>
    <ion-title>Código</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <pre>
    curl --location --request GET 'https://averiguando.com?q=value' \
    --header 'Authorization: bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3RcL3Byb3llY3Rvc1wvYXBpXC9wdWJsaWNcL2FwaVwvbG9naW4iLCJpYXQiOjE1ODE3MDk3MDMsImV4cCI6MTU4MTcwOTg4MywibmJmIjoxNTgxNzA5NzAzLCJqdGkiOiJSRVUwYlM0d2tYSk9yV2JlIiwic3ViIjo0LCJwcnYiOiI4N2UwYWYxZWY5ZmQxNTgxMmZkZWM5NzE1M2ExNGUwYjA0NzU0NmFhIn0.3ajTYw3SsgmTugoKIOba79HIhCoTLWjKjkCBc1JElFk'
  </pre>

</ion-content>