<ion-header>
  <ion-toolbar>
    <ion-title>Código</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <pre>
  curl --location --request GET '{{environment.baseUrl}}{{environment.user}}?email=example@yopmail.com' \
  --header 'Authorization: {{this.dataService.getToken()}} \
  --header 'Cookie: ARRAffinity=18a4afe4ad5618de88b6d52d0c629901a8f44c9ff14664e3f0ef84260f8d3a25'
  </pre>

</ion-content>